.skills{
    display: flex;
    flex-direction: column;
}

.skills .hardskills{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.skills .hardskills ul li svg{
    max-width: 50px;
    margin: 0 .5rem;
}

.skills .softkills ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .softkills ul li{
    margin-left: 2rem;
    padding: .5rem;
}


